span {
    display: inline-block;
}
.range-slider {
    position: relative;
    background-color: #eee;
    height: 3px;
}
.range-slider .selected {
    background-color: #0066CC;
    position: absolute;
    top: 0px;
}
.range-slider > * {
    vertical-align: center;
    display: inline-block;
    height: 3px;
}
.range-slider-button {
    width: 16px;
    height: 16px;
    background-color: #0066CC;
    border-radius: 50px;
    position: absolute;
    top: -7px;
}